venv/
__pycache__/
.env
*.pyc
**/data_salah/**
*.jsonl

# Ignore python virtual environments
venv/
.venv/
env/

# Ignore massive raw and engineered data files
scripts/feature_data/*.csv

# Ignore local compiled model binaries
scripts/*.pkl