# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Editor files
*.swp
*.DS_Store
.idea/
.vscode/

# Ignore simulation folder except observation_generator.py
simulation/*
!simulation/observation_generator.py

# Ignore other folders
data/
eta_engine/
scripts/